.leftText {
    text-align: left;
}

.regularText{
    font-size: 28px;
    font-weight: 400;
}

.boldText{
    font-size: 60px;
    font-weight: 700;
}

.smallBoldText {
    font-size: 30px;
    font-weight: 700;
}

.extraBoldText {
    font-size: 83px;
    font-weight: 900;
    /* line-height: 0.7 !important; */
}

.extraLardgeBoldText{
    font-size: 120px;
    font-weight: 900;
}

.smallSpacing{
    line-height: 0.7 !important;
}

.normalSpacing{
    line-height: 0.9 !important;
}

.blueText {
    color: #53BCFF;
}

.nonOpacity {
    opacity: 0;
}

.marginUp20 {
    margin-top: 40px !important;
}

.font {
    font-family: Poppins, sans-serif;;
}

.flex{
    display: flex;
    justify-content: left;
}

.slide2{
    margin-top: 30px;
}

.slide2 p{
    margin: 0;
}

.imgPhone {
    width: 400px;
    height: 791px;
    float: right;
}

.imgNote {
    width: 570px;
    height: 327px;
    float: right;
    margin-top: 250px !important;
    margin-bottom: 100px !important;
}

.imgCheck{
    width: 33px;
    height: 30px;
    margin: 25px 20px 0 0 !important;
}

.imgSlide8{
    width: 840px;
    height: 840px;
    margin: -70px -400px 0 0 !important;
    float: right;
}

.imgContacts{
    width: 50px;
    height: 50px;
    margin: 24px 20px 0 0 !important;
}

.slide3List{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    margin: 40px 0 0 0;
}

.slide3List img {
    float: left;
    margin: 9px 0 0 0;
}

.slide3List p{
    margin: 0 0 30px 40px;
}


.fragment.scale.current-fragment{
    scale: 1.1;
    color: gray;
}

.slide6Link{
    display: inline-block;
    font-size: 21px;
    font-weight: 700;
    color: white !important;
    background-color: #53BCFF;
    padding: 10px 55px 10px 55px;
    border-radius: 20px;
}

.blinkAnimate {
    animation: blinkAnim 2s ease 0s infinite normal forwards;
}

@keyframes blinkAnim {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}